# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
log/
pids
*.pid
*.seed
*.pid.lock

# Runtime
dist/
build/
tmp/
temp/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
docker-compose.override.yml

# Optional testing coverage
coverage/

# Redis dump files (if generated)
dump.rdb

# MongoDB data files (if using local volume)
data/db/
node_modules/
